body {
    text-align: center;
}

table {
    margin-left:auto;
    margin-right: auto;
}

td {
    width: 250px;
}

input[type="text"] {
    width: 100%;
}

input[type="password"] {
    width: 100%;
}

textarea {
    width: 92%;
}

#error_message {
    color: red;
    font-weight: bold;
}

.th_labels {
    text-align: right;
}

.td_buttons {
    text-align: center;
}

.titlearea {
    display: inline;
}